<div class="container">
  <div class="row">
    <!-- <div class="col-12 text-end pt-3">
      <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Food Type
      </button>
    </div> -->
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" (click)="OpenPopUp()">Add Food Type</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
       <div class="parent">
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <label for="">Item Name<span class="text-danger">*</span></label>
              <input type="text" [(ngModel)]="foodItemTypeObj.foodItemName" #foodItemName="ngModel" required name="foodItemName" class="form-control">
              <div class="text-danger" *ngIf="foodItemName.touched|| foodItemName.dirty">
                <span *ngIf="foodItemName.errors?.['required']">Required Field</span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" (click)="closePopUp()">
            Close
          </button>
          <button type="button" class="btn btn-sm btn-primary" (click)="saveFoodTypes()">Save</button>
        </div>
       </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5" style="margin-left: 321px;">
      <div class="card mt-3">
        <div class="row">
        <!-- <div class="col-6">
          <div class="card-header text-center">Food Item Types</div>
        </div> -->
        <div class="col-12 text-end pt-2 pe-4">
          <button type="button" class="btn  btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Food Type
          </button>
        </div>
      </div>

        <div class="card-body text-center">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Sr No.</th>
                <th>Item Name</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of foodTypeList; let sr = index">
                <td>{{ sr + 1 }}</td>
                <td>{{ item.foodItemName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>