<app-loader *ngIf="isLoading"></app-loader>
<div class="container-fluid" *ngIf="!isLoading">
  <div class="row  pt-2">
    <div class="col-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Resort-Users</li>
        </ol>
      </nav>
    </div>
    <div class="col-6 text-end">
      <button type="button" class="btn btn-sm text-end text-light" style="background-color:   rgb(136, 108, 127)"
        data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" (click)="openModel()"> Add
        New Users </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12  pt-2 ">
      <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':isModalPopUp}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(185, 157, 175);">
              <h4 class="modal-title" style="padding-left: 141px;">Add New Users</h4>
            </div>
            <div class="modal-body">
              <div class="row mx-2 ">
                <div class="col-6 ">
                  <label>UserName<span class="text-danger">*</span></label>
                  <input type="text" [(ngModel)]="usersObj.userName" class="form-control  form-control-sm"
                    #userName="ngModel" required>
                  <div class="text-danger" *ngIf="userName.touched || userName.dirty">
                    <span *ngIf="userName.errors?.['required']">Required Field</span>
                  </div>
                </div>

                <div class="col-6">
                  <label for="">Password<span class="text-danger">*</span></label>
                  <input type="text" class="form-control  form-control-sm" [(ngModel)]="usersObj.password"
                    #password="ngModel" required />
                  <div class="text-danger" *ngIf="password.touched || password.dirty">
                    <span *ngIf="password.errors?.['required']">Required Field</span>
                  </div>
                </div>


              </div>
              <div class="row mx-2 pt-1">

                <div class="col-6">
                  <label for="">Role<span class="text-danger">*</span></label>
                  <input type="text" class="form-control  form-control-sm" [(ngModel)]="usersObj.role" #role="ngModel"
                    required />
                  <div class="text-danger" *ngIf="role.touched || role.dirty">
                    <span *ngIf="role.errors?.['required']">Required Field</span>
                  </div>
                </div>


              </div>
              <div class="modal-footer mt-3" style="padding-right: 144px;">
                <button type="button" class="btn btn-sm btn-secondary" (click)="closeModel()">
                  Close </button>
                <button class="btn btn-sm  mx-3 btn-success" *ngIf="usersObj.userId == 0 "
                  (click)="creatAllUsers();closeModel()">Save
                </button>
                <button class="btn btn-sm  mx-3 btn-success" *ngIf="usersObj.userId !== 0"
                  (click)="upAllUsers();">Update
                </button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-3 pt-3" *ngFor="let item of usersList">
      <div class="card">
        <div class="card-header" style="background-color:rgb(185, 157, 175);">
          <div class="row">
            <div class="col-12">
              <h5> {{item.userName | titlecase}}</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6 text-start">
              Password : {{item.password}}
            </div>
            <div class="col-6 text-end">
              Role : {{item.role}}
            </div>

          </div>
        </div>
        <div class="card-footer">
          <div class="row ">
            <div class="col-6 text-start">
              <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" style="color:  rgb(136, 108, 127)"
                (click)="onEdit(item);openModel()"></i>
            </div>
            <div class="col-6 text-end">
              <i class="fa fa-trash fa-lg" aria-hidden="true" style="color: rgb(14, 12, 12);"
                (click)="deletAllUsers(item)"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>