<div class="row">
    <div class="col-12 pt-2 text-end">
        <button type="button" class="btn  text-end btn-outline-secondary" data-bs-toggle="modal"
            data-bs-target="#exampleModal" data-bs-whatever="@mdo" (click)="openPopup()">Add New Package</button>
    </div>
</div>

<h2 class="text-center"> Wedding Packages</h2>

<div class="row pt-3 px-5">
    <div class="col-4 pt-3" *ngFor="let package of weddingPackagesList">
        <div class="card">
            <div class="card-header" style="background-color: rgb(185, 157, 175);"><h5><strong>{{package.packageName}}</strong></h5></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 text-start">
                        With Food Cost:
                    </div>
                    <div class="col-6 text-end">
                        {{package.withFoodCost}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-start">
                        Without Food Cost:
                    </div>
                    <div class="col-6 text-end">
                        {{package.withoutFoodCost}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 text-start">
                        Per Person Cost:
                    </div>
                    <div class="col-6 text-end">
                        {{package.perPersonCost}}
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        Details:{{package.description}}
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-sm " style="background-color: rgb(185, 157, 175)"  (click)="onEdit(package); openPopup()" >Edit</button>
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm " style="background-color: rgb(185, 157, 175)" (click)="onDelete(package.weddingPackageId)">Delete</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="parent">
    <div class="row">
        <div class="col-12  pt-2 ">
            <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content ">
                        <div class="modal-header ">
                            <h4 class="modal-title text-center">Add New Package</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row mx-2 ">
                                <div class="col-6 ">
                                    <label>Package Name</label>
                                    <input type="text" [(ngModel)]="weddingPackageObj.packageName" class="form-control">
                                </div>
                                <div class="col-6">
                                    <label>Created Date <span class="text-danger">*</span></label>
                                    <input type="date" #createdDate="ngModel" required
                                        [(ngModel)]="weddingPackageObj.createdDate" class="form-control">
                                    <div class="text-danger" *ngIf="createdDate.touched || createdDate.dirty">
                                        <span *ngIf="createdDate.errors?.['required']">Required Field</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-2 pt-3">
                                <div class="col-6">
                                    <label for="">With Food Cost</label>
                                    <input type="text" class="form-control" [(ngModel)]="weddingPackageObj.withFoodCost"
                                        placeholder="" />
                                </div>
                                <div class="col-6">
                                    <label for="">Without Food Cost</label>
                                    <input type="text" class="form-control"
                                        [(ngModel)]="weddingPackageObj.withoutFoodCost" placeholder="" />
                                </div>
                            </div>
                            <div class="row mx-2 pt-3">
                                <div class="col-6">
                                    <label for="">Per Person Cost</label>
                                    <input type="text" class="form-control"
                                        [(ngModel)]="weddingPackageObj.perPersonCost" placeholder="" />
                                </div>
                                <div class="col-6">
                                    <label for="">Range Of Peoples</label>
                                    <input type="text" class="form-control"
                                        [(ngModel)]="weddingPackageObj.rangeOfPeoples" placeholder="" />
                                </div>
                            </div>
                            <div class="row mx-2 pt-3">
                                <div class="col-12">
                                    <label>Product Description</label>
                                    <textarea rows="1" type="text" [(ngModel)]="weddingPackageObj.description"
                                        class="form-control "></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn  btn-sm " style="background-color: rgb(185, 157, 175)" (click)="closePopup()"> Close
                            </button>
                            <button class="btn  btn-sm mx-5" *ngIf="weddingPackageObj.weddingPackageId==0" style="background-color: rgb(131, 77, 112)" (click)="saveWeddingPackage()">Save </button>
                            <button class="btn btn-sm  mx-5" *ngIf="weddingPackageObj.weddingPackageId !==0" style="background-color: rgb(141, 93, 124)" (click)="onUpdate()">Update </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>