.parent {
  background-image: url(photo-1563099045-dd7d9aebaa49.avif);
 height: 656px;


}

.card-img-left {
  width: 50%;
  /* Link to your background image using in the property below! */
  background: scroll center url('wedding1-21-12-2019.jpg');
  background-size: cover;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}



