<app-loader *ngIf="isLoading"></app-loader>
<div class="container-fluid" *ngIf="!isLoading">
    <div class="row  pt-2">
        <div class="col-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Visit</li>
                </ol>
            </nav>
        </div>
        <div class="col-6 text-end">
            <button type="button" class="btn btn-sm  text-light" style="background-color:rgb(136, 108, 127);"
                data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" (click)="openModel()">Add
                New
                Visit</button>
        </div>
    </div>

    <div class="card ">
        <div class="card-header text-center" style="background-color: rgb(185, 157, 175) ;">
            <span>
                <h5>Visit List</h5>
            </span>
        </div>
        <div class="card-body text-center">
            <div class="row pb-3">
                <div class="col-3">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="filterAllVisitObj.name"
                        placeholder="Search By Name">
                </div>
                <div class="col-3">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="filterAllVisitObj.contactNo"
                        placeholder="Search By Contact No.">
                </div>
                <div class="col-3">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="filterAllVisitObj.ticketNo"
                        placeholder="Search By Ticket No.">
                </div>
                <div class="col-3" style="padding-right: 150px;">
                    <button class="btn btn-sm text-light" style="background-color: rgb(136, 108, 127);"
                        (click)="filterAllVisits()">Search</button>
                </div>
            </div>
            <table class="table table-sm table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th>Name</th>
                        <th>ContactNo</th>
                        <th>Service</th>
                        <th>Members</th>
                        <th>Ticket Date</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of allVisit;let sr=index">
                        <td>{{sr+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.mobile}}</td>
                        <td>{{item.service}}</td>
                        <td>{{item.noOfMembers}}</td>
                        <td>{{item.ticketDate | date:'dd-MM-yy'}}</td>
                        <td>{{item.totalAmount | currency:'INR'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="parent">
    <div class="row">
        <div class="col-12  pt-2 ">
            <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':isModalPopUp}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:rgb(185, 157, 175); padding-left: 145px;">
                            <h5 class="modal-title ">Add New Visit</h5>
                        </div>
                        <form #userForm="ngForm">
                            <div class="modal-body">
                                <div class="row mx-2 ">
                                    <div class="col-4 ">
                                        <label>Name<span class="text-danger">*</span></label>
                                        <input type="text" #name="ngModel" required name="name"
                                            class="form-control form-control-sm" [(ngModel)]="visitObj.name">
                                        <div class="text-danger" *ngIf="name.touched || name.dirty">
                                            <span *ngIf="name.errors?.['required']">This is required</span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label>Mobile<span class="text-danger">*</span></label>
                                        <input type="text" #mobile="ngModel" required name="mobile"
                                            class="form-control form-control-sm" [(ngModel)]="visitObj.mobile">
                                        <div class="text-danger" *ngIf="mobile.touched || mobile.dirty">
                                            <span *ngIf="mobile.errors?.['required']">This is required</span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label>Email<span class="text-danger">*</span></label>
                                        <input type="text" #emailId="ngModel" required name="emailId"
                                            class="form-control form-control-sm" [(ngModel)]="visitObj.emailId">
                                        <div class="text-danger" *ngIf="emailId.touched || emailId.dirty">
                                            <span *ngIf="emailId.errors?.['required']">This is required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mx-2 pt-3">
                                    <div class="col-4">
                                        <label>City<span class="text-danger">*</span></label>
                                        <input type="text" #city="ngModel" required name="city"
                                            class="form-control form-control-sm" [(ngModel)]="visitObj.city">
                                        <div class="text-danger" *ngIf="city.touched || city.dirty">
                                            <span *ngIf="city.errors?.['required']">This is required</span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label for="">Select Users</label>
                                        <select class="form-control-sm form-control form-control-sm" name="userName"
                                            [(ngModel)]="visitObj.userId">
                                            <option value="">Select Users </option>
                                            <option *ngFor="let data of usersList" [value]="data.userId">
                                                {{data.userName}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <label for="">Select Package</label>
                                        <select class="form-control-sm form-control form-control-sm" name="packageName"
                                            [(ngModel)]="visitObj.packageId">
                                            <option value="">Select packages</option>
                                            <option *ngFor="let data of packageList" [value]="data.weddingPackageId">
                                                {{data.packageName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mx-2 pt-3">
                                    <div class="col-4">
                                        <label for="">Select Service</label>
                                        <select class="form-control-sm form-control form-control-sm" name="serviceName"
                                            [(ngModel)]="visitObj.serviceId">
                                            <option value="">Select Service</option>
                                            <option *ngFor="let data of resortServiceList" [value]="data.serviceId">
                                                {{data.serviceName}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <label>Booking Date</label>
                                        <input type="date" name="ticketDate" class="form-control form-control-sm"
                                            [(ngModel)]="visitObj.ticketDate">
                                    </div>
                                    <div class="col-4">
                                        <label> Members<span class="text-danger">*</span></label>
                                        <input type="text" #noOfMembers="ngModel" required name="noOfMembers"
                                            class="form-control form-control-sm" [(ngModel)]="visitObj.noOfMembers">
                                        <div class="text-danger" *ngIf="noOfMembers.touched || noOfMembers.dirty">
                                            <span *ngIf="noOfMembers.errors?.['required']">This is required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mx-2 pt-3">
                                    <div class="col-4">
                                        <label>Rate<span class="text-danger">*</span></label>
                                        <input type="text" #rate="ngModel" required name="rate"
                                            class="form-control form-control-sm" [(ngModel)]="visitObj.rate">
                                        <div class="text-danger" *ngIf="rate.touched || rate.dirty">
                                            <span *ngIf="rate.errors?.['required']">This is required</span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label>Adults</label>
                                        <input type="text" name="adults" class="form-control form-control-sm"
                                            [(ngModel)]="visitObj.adults">
                                    </div>
                                    <div class="col-4">
                                        <label>AdultRate</label>
                                        <input type="text" name="adultRate" class="form-control form-control-sm"
                                            [(ngModel)]="visitObj.adultRate">
                                    </div>
                                </div>
                                <div class="row mx-2 pt-3">
                                    <div class="col-4">
                                        <label>Childrens</label>
                                        <input type="text" name="childrens" class="form-control form-control-sm"
                                            [(ngModel)]="visitObj.childrens">
                                    </div>
                                    <div class="col-4">
                                        <label>ChildRate</label>
                                        <input type="text" name="childRate" class="form-control form-control-sm"
                                            [(ngModel)]="visitObj.childRate">
                                    </div>
                                    <div class="col-4">
                                        <label>Payment Mode</label>
                                        <select [(ngModel)]="visitObj.paymentBy" name="paymentBy"
                                            class="form-control-sm form-control">
                                            <option>Select payment mode</option>
                                            <option value="Cash">Cash</option>
                                            <option value="Online">Online</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mx-2 pt-3">
                                    <div class="col-4">
                                        <label>Advance<span class="text-danger">*</span></label>
                                        <input type="text" #advance="ngModel" required name="advance"
                                            class="form-control form-control-sm" [(ngModel)]="visitObj.advance">
                                        <div class="text-danger" *ngIf="advance.touched || advance.dirty">
                                            <span *ngIf="advance.errors?.['required']">This is required</span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label>Remaining Amt<span class="text-danger">*</span></label>
                                        <input type="text" #remainingPaidAmt="ngModel" required name="remainingPaidAmt"
                                            class="form-control form-control-sm"
                                            [(ngModel)]="visitObj.remainingPaidAmt">
                                        <div class="text-danger"
                                            *ngIf="remainingPaidAmt.touched || remainingPaidAmt.dirty">
                                            <span *ngIf="remainingPaidAmt.errors?.['required']">This is required</span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label>Total Amount<span class="text-danger">*</span></label>
                                        <input type="text" #totalAmount="ngModel" required name="totalAmount"
                                            class="form-control form-control-sm" [(ngModel)]="visitObj.totalAmount">
                                        <div class="text-danger" *ngIf="totalAmount.touched || totalAmount.dirty">
                                            <span *ngIf="totalAmount.errors?.['required']">This is required</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer mt-3" style="padding-right: 140px;">
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-sm btn-secondary text-light"
                                                (click)="closeModel()">
                                                Close </button>
                                            <button class="btn btn-sm mx-3 btn-success" *ngIf="visitObj.visitId == 0"
                                                [disabled]="userForm.invalid" (click)="addVisit();closeModel()">Save
                                            </button>
                                            <button class="btn btn-sm btn-success" *ngIf="visitObj.visitId != 0"
                                                (click)="onUpdateVisit();closeModel()">Update
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
