<div class="container-fluid"  *ngIf="!isLoader">
  <div class="row pt-2">
    <div class="col-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Offers</li>
        </ol>
      </nav>
    </div>
    <div class="col-6 text-end pt-2">
      <button type="button" class="btn btn-sm text-end text-light" style="background-color:   rgb(136, 108, 127)"
        data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" (click)="openPopup()">Add
        New Offers </button>
    </div>
  </div>
  <div class="row pt-3 px-3">
    <div class="col-3 pt-3" *ngFor="let offer of offersList">
      <div class="card">
        <div class="card-header" style="background-color: rgb(185, 169, 185);">
          <h5>{{offer.offerName | titlecase}}</h5>
        </div>
        <div class="card-body" style="padding-bottom: 27px;">
          <div class="row">
            <div class="col-6 text-start">
              Offer Details : {{offer.offerDetails}}
            </div>
            <div class="col-6 text-end">
              Amount : {{offer.amount}}
            </div>
          </div>
        </div>
        <div class="card-footer"><span role="button" tabindex="0">
            <div class="row">
              <div class="col-6 text-start">
                <i class="fa fa-pencil-square-o fa-lg"  style="color:  rgb(136, 108, 127)" aria-hidden="true" (click)="onEdit(offer); openPopup()"></i>
              </div>
              <div class="col-6 text-end">
                <i class="fa fa-trash fa-lg" aria-hidden="true" (click)="DeleteAllOffers(offer);closePopup()"></i>
              </div>

            </div>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="parent">
    <div class="row">
      <div class="col-12  pt-2 ">
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header " style="    padding-left: 139px; background-color: rgb(185, 169, 185);">
                <h4 class="modal-title text-center">Add New offer</h4>
              </div>
              <form #userForm="ngForm">
                <div class="modal-body">
                  <div class="row mx-2 ">
                    <div class="col-6 ">
                      <label>Offer Name<span class="text-danger">*</span></label>
                      <input type="text" #offerName="ngModel" required [(ngModel)]="offersObj.offerName"
                        name="offerName" class="form-control form-control-sm">
                      <div class="text-danger" *ngIf="offerName.touched || offerName.dirty">
                        <span *ngIf="offerName.errors?.['required']">Required Field</span>
                      </div>
                    </div>
                    <div class="col-6">
                      <label>New Date <span class="text-danger">*</span></label>
                      <input type="date" #createdDate="ngModel" required [(ngModel)]="offersObj.createdDate"
                        name="createdDate" class="form-control form-control-sm">
                      <div class="text-danger" *ngIf="createdDate.touched || createdDate.dirty">
                        <span *ngIf="createdDate.errors?.['required']">Required Field</span>
                      </div>
                    </div>
                  </div>
                  <div class="row mx-2 pt-3">
                    <div class="col-6">
                      <label for="">Offer Details <span class="text-danger">*</span></label>
                      <input type="text" #offerDetails="ngModel" required class="form-control form-control-sm"
                        name="offerDetails" [(ngModel)]="offersObj.offerDetails" placeholder="" />
                      <div class="text-danger" *ngIf="offerDetails.touched || offerDetails.dirty">
                        <span *ngIf="offerDetails.errors?.['required']">Required Field</span>
                      </div>

                    </div>
                    <div class="col-6">
                      <label for="">Amount<span class="text-danger">*</span></label>
                      <input type="text" #amount="ngModel" required class="form-control form-control-sm" name="amount"
                        [(ngModel)]="offersObj.amount" placeholder="" />
                      <div class="text-danger" *ngIf="amount.touched || amount.dirty">
                        <span *ngIf="amount.errors?.['required']">Required Field</span>
                      </div>

                    </div>
                  </div>

                </div>
                <div class="modal-footer " style="padding-right: 170px;">
                  <button type="button" class="btn  btn-sm btn-secondary" (click)="closePopup()"> Close
                  </button>
                  <button class="btn  btn-sm mx-3 btn-success" *ngIf="offersObj.offerId==0"
                    [disabled]="userForm.invalid" (click)="creatAllOffer() ; closePopup()">Save
                  </button>
                  <button class="btn btn-sm mx-3 btn-success" *ngIf="offersObj.offerId !==0"
                    (click)="upAllOffers();closePopup()">Update </button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
